{% extends 'index.twig' %}
{% block container %}
    <h1>bonjour fafiii from sessions</h1>

    <h3><a class="btn btn-secondary" href="/employee"><i class="fa fa-plus"></i> Create New</a> Employee List</h3>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th>City</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {%  for session in sessions  %}
        <tr>
            <td>{{session.Name}}</td>
            <td>{{session.Status}}</td>
            <td>{{session.StartDate}}</td>
            <td>{{session.EndDate}}</td>

        </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}