{% extends 'index.twig' %}
{% block container %}
    <div class="row">
        <div class="col-lg-6">
    <div class="panel">
        <div class="panel-heading">
            <div class="panel-control">
                <button class="btn btn-default" data-click="panel-expand"><i class="fa fa-expand"></i></button>
                <button class="btn btn-default" data-click="panel-reload"><i class="fa fa-refresh"></i></button>
                <button class="btn btn-default" data-click="panel-collapse"><i class="fa fa-chevron-down"></i></button>
                <button class="btn btn-default" data-dismiss="panel"><i class="fa fa-times"></i></button>
            </div>
            <h3 class="panel-title">Add account</h3>
        </div>
        <!-- BASIC FORM ELEMENTS -->
        <!--===================================================-->
        <form class="panel-body form-horizontal"  method="POST" action="/Judges/addCompte">

            <!--Text Input-->
            <div class="form-group">
                <label class="col-md-3 control-label" for="demo-text-input">LastName</label>
                <div class="col-md-9">
                    <input type="text" name="LastName" class="form-control" placeholder="LastName">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="demo-text-input">FirstName</label>
                <div class="col-md-9">
                    <input type="text" name="FirstName" class="form-control" placeholder="FirstName">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="demo-text-input">Email</label>
                <div class="col-md-9">
                    <input type="text" name="Email" class="form-control" placeholder="Email">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-3 control-label" for="demo-text-input">Password</label>
                <div class="col-md-9">
                    <input type="password" name="Password" class="form-control" placeholder="Text">

                </div>
            </div>
            <button type="submit" class="btn btn-info btn-lg" name="signup" value="Submit">
                Submit
            </button>





        </form>
    </div>
        </div>    <!--===================================================-->
        <!-- END BASIC FORM ELEMENTS -->
    </div>

{% endblock %}