{% extends 'index.twig' %}
{% block container %}
    <h1>Voting</h1>

    <div id="hasVotedAlreadyErrorMsg" class="card-panel hidden" style="width: 30%">
        <span class="red-text text-darken-2">You have already voted, you can only vote once.</span>
    </div>
    <form id="vote-form">
        {%  for session in Sessions.Project  %}
        <p>
            <input type="radio" name="project" id="{{session.Name}}" value="{{session.Name}}">
            <label for="{{session.Name}}">{{session.Name}}</label>
        </p>

        {% endfor %}
        <input type="submit" value="Vote" class="btn">
    </form>

    <br>
    <br>

    <h5 style="text-align: center" id="chartTitle"></h5>
    <div id="chartContainer" style="height: 300px;width:100%"></div>
    </div>

    <script src="http://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/pusher/4.2.2/pusher.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
    <script src="https://js.pusher.com/4.4/pusher.min.js"></script>

    <script src="../../public/js/Main.js"></script>
{% endblock %}